<ion-view>
	<ion-tabs class="tabs-icon-top tabs-assertive">
		
		<ion-tab title="landing" icon="ion-person" ui-sref="main.landing">
			<ion-nav-view name="landing-tab">
			</ion-nav-view>
		</ion-tab>
		
		<ion-tab title="selection" icon=" ion-earth" ui-sref="main.selection">
			<ion-nav-view name="selection-tab">
			</ion-nav-view>
		</ion-tab>
		
		<ion-tab title="settings" icon=" ion-wrench" ui-sref="main.settings">
			<ion-nav-view name="settings-tab">
			</ion-nav-view>
		</ion-tab>
	</ion-tabs>
</ion-view>